<h1>The post</h1>

<div><h3>Title:<%= @post.name %></h3></div>
<div><h3>Category: <%= @category.name %></h3></div>
<div><h3>Tag: <%= @post.tag %></h3></div>

  <%= link_to "Back to posts", posts_path%>
  <p>

